/* Загальні стилі */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
  }
  
  /* Стилі для форми пошуку */
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Стилі для галереї та карток зображень */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .photo-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .photo-card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .photo-card .info {
    padding: 15px;
  }
  
  .photo-card .info p {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .load-more {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    /* margin: auto; */
  }
  
  .load-more:hover {
    background-color: #27ae60;
  }
  